.formulario {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
    margin: 4% 0 0 7.5%;
    gap: 10px;
}

@media (max-width: 800px){
    .formulario{
        gap: 6px;    
    }
}